@model IEnumerable<CodeTrip.Models.Usuario>


<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link href="~/css/Home.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container text-center text-dark mt-5">
            
            <img src="~/src/imagens/logo.png" alt="Codetrip Logo" class="logo" />

            <h1>BEM-VINDO AO SISTEMA DA CODETRIP</h1>

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Clique aqui para continuar</a>
                </li>
            </ul>
        </div>
        </div>
    </header>
</body>
</html>